 <div class="user-details">
  <h1> Our Packages </h1>
  <p> This is not a cheap SMM panel service, we are genuine service and we know what we are doing. If you come here just for 1000 new followers for your client then sorry this place is not for you. We help to build a strong instagram profile from scratch. <b>We do Guarantee of real engagement</b> from our service, which no one can provide.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Starter</h2>
      <i class=""><p>100 Fixed Followers</p></i>
      <i class=""><p>100 Regular Likes</p></i>
      <i class=""><p>10 Regular Comments</p></i>
	  <i class=""><p>Pricing - $10/Month</p></i>
     </div>
    <div class="tech">
      <h2>Booster</h2>
      <i class=""><p>200 Fixed Followers</p></i>
      <i class=""><p>200 Regular Likes</p></i>
      <i class=""><p>20 Regular Comments</p></i>
	  <i class=""><p>Pricing - $20/Month</p></i>
     </div>
    <div class="tech">
      <h2>Pro</h2>
      <i class=""><p>500 Fixed Followers</p></i>
      <i class=""><p>500 Regular Likes</p></i>
      <i class=""><p>50 Regular Comments</p></i>
	  <i class=""><p>Pricing - $50/Month</p></i>
     </div>	
</div>
<p>Here 100 fixed followers means first you will get 100 new followers in your profile, then those 100 followers will like your daily 3 new posts on a regular basis(means max 100 likes per post=300 likes), plus it will also comment on that. Make sure you submit your list of custom comments, do not send wow, super, amazing or only emoji type of comments, because it will make our both of accounts look like spam, so better to leave it, if you don't have any.</p>
