 <div class="user-details">
  <h1> Our Packages </h1>
  <!--<p> This is not a cheap SMM panel service, we are genuine service and we know what we are doing. If you came here just for 1000 new followers for your client then sorry this place is not for you. We help to build a strong instagram profile from scratch. <b>We do Guarantee of real engagement</b> from our service, which no one can provide.</p>-->
	<p>We help you to grow your instagram with child/slave method.</p>.
</div>
  <div class="user">

<center>
	
<!--<iframe src="https://jscalc.io/embed/q6YP4evCFclCtYJe" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid rgba(0,0,0,0.12)"></iframe></center>

    <div class="tech">
      <h2>Starter</h2>
      <i class=""><p>100 Fixed Followers</p></i>
      <i class=""><p>100 Regular Likes</p></i>
      <i class=""><p>10 Regular Comments</p></i>
	  <i class=""><p>Pricing - $10/Month</p></i>
     </div>
    <div class="tech">
      <h2>Booster</h2>
      <i class=""><p>200 Fixed Followers</p></i>
      <i class=""><p>200 Regular Likes</p></i>
      <i class=""><p>20 Regular Comments</p></i>
	  <i class=""><p>Pricing - $20/Month</p></i>
     </div>
    <div class="tech">
      <h2>Pro</h2>
      <i class=""><p>500 Fixed Followers</p></i>
      <i class=""><p>500 Regular Likes</p></i>
      <i class=""><p>50 Regular Comments</p></i>
	  <i class=""><p>Pricing - $50/Month</p></i>
     </div>
</div>
 <p>Here 100 fixed followers means first you will get 100 new followers in your profile, then those 100 followers will like your daily 3 new posts on a regular basis(means max 100 likes per post=300 likes), plus it will also comment on that. Make sure you submit your list of custom comments, do not send wow, super, amazing or only emoji type of comments, because it will make our both of accounts look like spam, so better to leave it, if you don't have any.</p>

<p><i> The comment will be geninue whatever you want in your <b>sell post</b>.</p> It will be not 'emoji', 'thank you' or 'amazing pic' type of comments. So use it wisely by giving full custom made list.</i></p>

<p> You can place your order by contacting us on skype. The minimum deposit will be $1 for the first time, then $5 and then $10 on paypal.</p> -->
